.footer {
    background-color: #632a2a;
    padding: 30px 0;
    color: #FFF;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin-bottom: 20px;
    margin-left:2px;
  
  }
  
  .footer-section h3 {
    color: #efc004;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color:#f8f9fa;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-weight: bolder;
  }

  /* Your existing CSS */

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}

  