*{
    margin: 0;
    padding: 0;
}
.Header{
    display: flex;
    justify-content: space-between;
  
}

.nav-item ul{
    display: flex;
    list-style: none;
    padding: 30px;
    justify-content: space-between;

}