#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.heading1{
  background-color: rgb(82, 187, 243);
  margin-top: 0px;
  color: rgb(189, 17, 17);
  width: auto;
  height: fit-content;
}

@media (prefers-reduced-motion: no-preference) {

}
