body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
}

.px {
    font-size: 12px;
    width: 50px;
}

.em {
    font-size: 1.5em;
}

.rem {
    font-size: 2rem;
}

.percent {
    font-size: 150%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
